@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background: #E5E5E5;
  padding: 50px;
}

.App {
    font-family: 'Avenir',Arial,Helvetica,sans-serif;
}

#xMasTree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 10vh;
    position: relative;
}

#aStarIsBorn {
  display: flex;
  justify-content: center;
  position: relative;
  height: 10%;
}

#img_star {
  display: block;
  margin: 0 auto;
  width:auto;
  height:100%;
  max-width:100%
}

#card-front {
  color: #FFDFDF;
    z-index: 1000;
}

#card, #card-front, #card-inside {
  height: 80vh;
  width: 80% !important;
    max-width: 600px;
    min-width: 400px;
    max-height: 600px;
    min-height: 400px;
}

.cardContent {
    text-align: center;
    display: block !important;
    color: #fff;
    font: normal 1em/1.2 'Avenir',Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
    font-size: 18px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}
.strong-word {
    color: #fff;
    font: normal 1em/1.2 'Avenir',Arial,Helvetica,sans-serif;
    box-sizing: border-box;
    font-weight: bolder;
    font-family: 'Cutoff Pro';
    font-size: 30px;
    line-height: 1.5em;
    font-style: italic;
}

.left-page-content {
    display: block;
    position: absolute;
    color:#9655ff;
    top:0;
    right:0;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    width: 100%;
    height:100%;
}
.left-page-content .title{
    font-size: 30px;
}
.wrap {
    display: flex;
    justify-content: center;
    padding: 1.5em 2.5em;
    height: 100%;
    position: relative;
}

hr.solid {
    border-top: 3px solid #fff;
}
#card-front, #card-inside {
  width: 50%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  position: absolute;
  left: 50%;
}


#card-inside .wrap {
    background: white;
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
}
#card {
    max-width: 960px;
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;
}

#card h1 {
    text-align: center;
    font-family: 'Avenir',Arial,Helvetica,sans-serif;

    font-style: italic;
    font-size: 70px;
    text-shadow:
        4px 4px 0px rgba(0, 0, 0, .15),
        1px 1px 0 rgba(255, 200, 200, 255),
        2px 2px 0 rgba(255, 150, 150, 255),
        3px 3px 0 rgba(255, 125, 125, 255);
    color: #FFF;
}
#card-inside {
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

p.signed {
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
}

#card-front {
  background-color: #9655ff;
  background-image: linear-gradient('to top', #9655ff 0%, #FF7777 100%);
    background-image: -moz-linear-gradient(top, #9655ff 0%, #FF7777 100%);
    background-image: -webkit-linear-gradient(top, #9655ff 0%, #FF7777 100%);
            transform-origin: left;
       -moz-transform-origin: left;
    -webkit-transform-origin: left;
            transition:         transform 1s linear;
       -moz-transition:    -moz-transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    position: relative;
}

#card-front .wrap {
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -12px;
  background: #F44;
  color: #FFF;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  cursor: pointer;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
     -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
}

#card-front button:hover,
#card-front button:focus {
  background: #F22;
}

#close {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}


#card.open-half #card-front,
#card.close-half #card-front {
            transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: white;
}

#card.open-fully #card-front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
   display: none;
}

footer {
  max-width: 500px;
  margin: 40px auto;
  font-family: 'Nobile', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #888;
  text-align: center;
}

#chaz {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 44%;
    left: 34%;
    z-index: 10;
}

#chaz:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#chaz img {
    width: 100%;
    height: 100%;
}

#bern {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 60%;
    left: 33%;
    z-index: 10;
}

#bern:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#bern img {
    width: 100%;
    height: 100%;
}

#boxi {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 30%;
    left: 40%;
    z-index: 10;
}

#boxi:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#boxi img {
    width: 100%;
    height: 100%;
}

#ceme {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 52%;
    left: 45%;
    z-index: 10;
}

#ceme:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#ceme img {
    width: 100%;
    height: 100%;
}

#elri {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 60%;
    left: 62%;
    z-index: 10;
}

#elri:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#elri img {
    width: 100%;
    height: 100%;
}

#jamu {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 66%;
    left: 51%;
    z-index: 10;
}

#jamu:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#jamu img {
    width: 100%;
    height: 100%;
}

#jufe {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 27%;
    left: 52%;
    z-index: 10;
}

#jufe:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#jufe img {
    width: 100%;
    height: 100%;
}

#lela {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 78%;
    left: 41%;
    z-index: 10;
}

#lela:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#lela img {
    width: 100%;
    height: 100%;
}

#masi {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 73%;
    left: 26%;
    z-index: 10;
}

#masi:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;

}

#masi img {
    width: 100%;
    height: 100%;
}

#suli {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 76%;
    left: 67%;
    z-index: 10;
}

#suli:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#suli img {
    width: 100%;
    height: 100%;
}

#vaga {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 45%;
    left: 55%;
    z-index: 10;
}

#vaga:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#vaga img {
    width: 100%;
    height: 100%;
}

#waji {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 82%;
    left: 53%;
    z-index: 10;
}

#waji:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#waji img {
    width: 100%;
    height: 100%;
}

#kram {
    position: absolute;
    height: 8%;
    max-width: 8%;
    top: 17%;
    left: 46%;
    z-index: 10;
}

#kram:hover {
    width: 15%;
    height: auto;
    max-width: 15%;
    z-index: 10;
}

#kram img {
    width: 100%;
    height: 100%;
}

#popin {
    padding: 8px 10px 5px 8px;
}

.border {
    max-width: 100%;
    max-height: 100%;
}

.field {
    font-variant-caps: petite-caps;
    font-weight: 700
}

.value {
    font-variant-caps: petite-caps;
    font-weight: 400;
}

.prez {
    margin: 10px 0px;
}

.closeButton {
    position: absolute;
    margin-top: -12px;
    left: 400px;
    top: 0;
    right: 0;
    bottom: 0;
}

#panel {
    background: white;
    width: 100vw;
    height: 100vh;
    border: solid 1px red;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    bottom: 0;

}

@media (min-width: 650px){

}

#giftsDiv {
    width: 100%;
    height: 47%;
    position: absolute;
    top: 80%
}

#giftsDiv img {
    width: 100%;
    object-fit: cover; /*magic*/
    transform: rotate(-5deg);
    opacity: 0.9;
}

#prezPhoto {
    width: 22%;
    position: absolute;
    right: 0
}


.folded_corner{
	position:relative;
	color:#fff;
	background: #58a;
	background: linear-gradient(to left top, transparent 50%, rgba(0,0,0,.4) 0) no-repeat / 100%,
	  linear-gradient(-135deg, transparent 1.5em, #58a 0);
  }
  .folded_corner::before{
	content: ' ';
	position:absolute;
	bottom:0;
	right:0;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,0.1) 0) 100% 0 no-repeat;
	width: 5em;
	height: 5em;
	transform: rotate(90deg)
  }
#img_star {
    transition: all 800ms ease-in-out;
}

#img_star:hover {
    width:30%;
    height: auto;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

#closeButton {
    position: absolute;
    margin-top: -12px;
    left: 46.5%;
    cursor: pointer;
}
#closeButton:hover {
    box-shadow: 2px 2px 2px 1px darkgrey
}
